.header-row{
    padding: 10px 0px 10px 0px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    box-shadow: 0px 0px 8px 1px #c9c9c9;
}

.icon{
    width: 29px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    box-shadow: 0px 0px 0px 1px #c9c9c9;
}
.icon:hover{
    transform:scale(1.1);
    transition: transform 0.5s;
    box-shadow: 1px 1px 3px 2px #b1b1b1;
}

.icon-img{
    width:100% !important;
    height:29px !important;
    object-fit: cover !important;
}

@media only screen and (max-width: 283.98px){
    .icon{
        width: 10px !important;
        border-radius: 50% !important;
        overflow: hidden !important;
        box-shadow: 0px 0px 0px 1px #c9c9c9;
    }

    .icon-img{
        width:100% !important;
        height:9px !important;
        object-fit: cover !important;
    }
}