<!--Header Starts-->
<div class="container-fluid">
    <div class="row header-row">
        <div class=" col-md-6 col-6 text-center pl-5">
            <i class="fa fa-bell button-icon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-commenting-o button-icon" aria-hidden="true"></i>
        </div>
        <div class="col-md-6 col-6 form-inline">
            <div class="form-inline ml-auto">
                <div class="form-group">
                    <div class="icon"><img class="icon-img" src="../../../../assets/img/Flag_of_India.svg.webp"></div>
                </div>&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <div class="icon"><img class="icon-img" src="../../../../assets/img/user_default.svg.webp"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Header Ends-->