.button-icon{
    position: absolute !important;
    top:10px !important;
    right:-10px !important;
}

.side-bar{
    position: absolute !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/../../assets/img/restaurantside-bar.jpg);
    min-height: 100vh;
    top:-49px !important;
    min-width: 15% !important; 
    max-width: 20%;
    background-color: #3e3e59 !important;
   
}


.menu-font{
    color: white !important;
    list-style: none;
}

@media only screen and (max-width: 767.98px){
    .side-bar{
        position: absolute !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/../../assets/img/restaurantside-bar.jpg);
        min-height: 100vh;
        top:-65px !important;
        min-width: 15% !important; 
        max-width: 50%;
        background-color: #3e3e59 !important;
       
    }
}

.user{
    /*position: absolute;*/
    width: 50px !important;
    border-radius: 50% !important;
    box-shadow: 0px 0px 0px 1px #fdfdfd !important;
}

.user-img{
    width: 100% !important;
    height: 50px !important;
    object-fit: cover !important;
    
}