<!--Menu Side-Bar-Starts-->
<div style="position: relative;">
    <div class="container-fluid side-bar" id = "sidebar">
        <div class="row justify-content-center">
            <div class="user">
                <img src="../../../../assets/img/user_default.svg.webp" class="user-img">
            </div>
            
        </div>
        <div class="row">
            <i class="fa fa-bars button-icon" aria-hidden="true"></i>&nbsp;
            
            <ul class="menu-font pt-3 m-3">
                <li><i class="fa fa-home" aria-hidden="true"></i> Dashboard</li>
                <li><i class="fa fa-users" aria-hidden="true"></i> Employee</li>
                <li><i class="fa fa-file-text" aria-hidden="true"></i> Invoice</li>
                <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Order</li>
                <li><i class="fa fa-cutlery" aria-hidden="true"></i>About Restaurant</li>
            </ul>
        </div>
    </div>
</div>
<!--Menu Side-Bar-Ends-->

