<video autoplay muted loop id="myVideo">
  <source src="../../../../assets/img/restaurent_login_background.webm" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="container-fluid login-page-main-container">
  <div class="row">
    <div class="col-md-6 col-12 login-form-coloumn">
      <div id="loginForm" class="login-form-div">
        <div class="form-group">
          <label class="login-label">Email address<span class="required-star">&nbsp;*</span></label>
          <input type="text" class="form-control form-input" [(ngModel)]="email" placeholder="Enter email">
        </div>


        <div class="form-group" id="hidepasswordsec">
          <label class="login-label">Password<span class="required-star">&nbsp;*</span></label>
          <div class="input-group mb-3" >
            <input type="password" [(ngModel)]="password" class="form-control form-input" placeholder="Password">
            <div class="input-group-append">
              <span class="input-group-text" id="showPasswordbtn" style="cursor: pointer;"><i class="fa fa-eye"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group" id="viewpasswordsec" style="display: none;">
          <label class="login-label">Password<span class="required-star">&nbsp;*</span></label>
          <div class="input-group mb-3" >
            <input type="text" [(ngModel)]="password" class="form-control form-input" placeholder="Password">
            <div class="input-group-append">
              <span class="input-group-text" id="hidePasswordbtn" style="display: none; cursor: pointer;"><i class="fa fa-eye-slash"></i></span>
            </div>
          </div>
        </div>

    
        <button (click)="onClickLogin()" class="btn btn-secondary btn-sm btn-block main-button">Login</button>
        <button type="button" id="forgetPasswordbtn" class="btn btn-sm login-label">Forget Password ?</button>
      </div>



      <div id="forgetpassword" class="login-reset-div">


        <div class="form-group">
          <label class="login-label">Email address<span class="required-star">&nbsp;*</span></label>
          <input type="email" [(ngModel)] = "email" class="form-control form-input" placeholder="Enter email">
        </div>


        <div class="form-group">
          <label class="login-label">Password<span class="required-star">&nbsp;*</span></label>
          <input type="password" [(ngModel)] = "password"  class="form-control form-input" placeholder="Password">
        </div>


        <div class="form-group">
          <label class="login-label">Confirm Password<span class="required-star">&nbsp;*</span></label>
          <input type="password" [(ngModel)] = "cnfPassword" class="form-control form-input" placeholder="Password">
        </div>


        <button type="button" class="btn btn-secondary btn-sm btn-block main-button" (click) = " onClickReset()">Reset Password</button>
        <button type="button" id="cancel_reset" class="btn btn-secondary btn-sm btn-block btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</div>