#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */

  .login-page-main-container{
    position:relative;
    background-color:#0000008f;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .login-form-coloumn{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);  
  }

  .login-form-div{
    background-color:rgb(240 240 240 / 94%) !important;
    padding:20px !important;
    margin:20% !important;   
    border-radius:10px !important; 
    -webkit-box-shadow: 3px 3px 18px 8px #0a0101d4;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 18px 8px #0a0101d4;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 18px 8px #0a0101d4;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .form-input{
      font-size: 13px !important;
  }

  .login-reset-div{
    display: none;
    background-color:rgb(240 240 240 / 94%) !important;
    padding:20px !important;
    margin:20% !important;   
    border-radius:10px !important; 
    -webkit-box-shadow: 3px 3px 18px 8px #0a0101d4;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 18px 8px #0a0101d4;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 18px 8px #0a0101d4;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .login-label{
      font-size: 15px !important;
      font-weight: 600 !important;
  }

  @media screen and (max-width: 1056px) {
    .login-form-div{
        background-color:rgb(240 240 240 / 94%) !important;
        margin:0px !important;
        padding:5% !important;  
        border-radius:10px !important; 
        -webkit-box-shadow: 3px 3px 18px 8px #0a0101d4;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 18px 8px #0a0101d4;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 18px 8px #0a0101d4;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ 
      }

    .login-reset-div{
        display: none;
        background-color:rgb(240 240 240 / 94%) !important;
        padding:20px !important;
        margin:5% !important;   
        border-radius:10px !important; 
        -webkit-box-shadow: 3px 3px 18px 8px #0a0101d4;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 18px 8px #0a0101d4;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 18px 8px #0a0101d4;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      }
  }
  

