/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules//font-awesome/css/font-awesome.min.css";


.main-button{
    color:rgb(235, 235, 235);
    background-color: #3e3e59;
}

.main-button:hover{
    color:white;
    background-color: #232342;
}

.required-star{
    color:red;
}

.button-icon{
   
    border-radius:50%;
    background-color: white;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 0px 0px 1px #c9c9c9;
    cursor: pointer;
}

.button-icon:hover{
   transform:scale(1.1);
   transition: transform 0.5s;
   box-shadow: 1px 1px 3px 2px #b1b1b1;
   cursor: pointer;
}

